 @font-face {
    font-family:'jujutsu' ;
    src: url(Jujutsu-Kaisen.ttf);
 }

 body{
    background-image: url(jujutsu\ kaisen\ sukuna\ \ Yuji\ Itadori\ anime\ wallpaper\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #000000;
    box-shadow: 0px 3px 10px #464646;
    font-family: 'jujutsu';
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #920505;
    font-size: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list:hover{
    transform: scale(1.05);
}


.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    color: #920505;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #920505;
    margin-top: 30px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}



